$color_1: rgb(0, 0, 0);
$color_2: #10162c;
$color_3: #5cb46a;
$color_4: green;
$color_5: #fff;
$color_6: #5ab56b;
$color_7: #000000;
$color_8: #243771;
$color_9: rgb(255, 255, 255);
$color_10: black;
$background-color_1: #59b56b;
$background-color_2: #5ab56b;

/* ======= form */
/* .object-fit-cover {
    background-size: cover;
    width: 100% !important;
    height: 400px !important;
    filter: hue-rotate(0deg) brightness(57%);
    background: #5cb46a;
  } */
/* .author-image {
    position: absolute;
    top: 34rem;
    left: 7rem;
    color: rgb(255, 255, 255);
  }
  
  .post-date {
    position: absolute;
    right: 7rem;
    top: 34rem;
    color: rgb(255, 255, 255);
  }
   */
.banner_wrapper-blog {
	padding-bottom: 0;
	.banner-padding {
		padding: 5rem 2rem;
	}
	.banner-content {
		padding-right: 16%;
		h1 {
			text-align: left;
			font: normal normal 900 44px/50px Inter;
			letter-spacing: 0px;
			color: $color_2;
			text-transform: capitalize;
			opacity: 1;
		}
		p {
			text-align: left;
			font: normal normal normal 21px/31px Inter;
			letter-spacing: 0px;
			color: $color_2;
			opacity: 1;
			margin-top: 2rem;
		}
		.btn-get-started {
			width: auto;
		}
	}
}
.about-baner-icon {
	position: absolute;
	width: 120px;
	right: 4%;
	top: 20%;
	transform: rotate(25deg);
	z-index: -1;
}
.news__form {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-top: 30px;
	input[type='email'] {
		border: 0;
		outline: 0;
		border-radius: 8px !important;
		padding: 15px 30px;
		border-radius: 3px;
		border: 1px solid #8f94a1;
		margin-right: 0px;
		flex-grow: 2;
	}
	.news__btn {
		border: none;
		outline: none;
		background: transparent;
		background-color: $background-color_1;
		border-radius: 8px !important;
		padding: 20px 30px;
		color: $color_1;
		cursor: pointer;
	}
}
.title {
	text-align: center;
	font: normal normal bold 45px/50px Inter;
	letter-spacing: 0px;
	color: $color_3;
	opacity: 1;
	width: 53rem;
	padding-top: 5rem;
	text-transform: capitalize;
}
.object-fit-cover {
	background-size: cover;
	width: 100% !important;
	height: auto;
	max-height: 400px;
	filter: hue-rotate(0deg) brightness(57%);
	background: #10162c;
}
.content-for-blog {
	background: #f9fbf9 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 16px #00000029;
	opacity: 1;
	padding: 5rem;
	margin-right: 3rem;
	border-bottom-right-radius: 25px;
	margin-left: 3rem;
	border-bottom-left-radius: 25px;
	p {
		text-align: left;
		font: normal normal normal 18px/30px Inter;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	ul {
		margin-left: 20px;
		li {
			margin-bottom: 12px;
			font-size: 18px;
		}
	}
	ol {
		margin-left: 20px;
		li {
			margin-bottom: 12px;
			font-size: 18px;
		}
	}
}
.social-icons {
	border: 2px solid #0e0e0e;
	padding: 16px;
	display: flex;
	justify-content: center;
	border-radius: 50px;
	color: $color_4;
	font-size: 21px;
	margin: 10px;
	text-decoration: none;
}
.share-post-wrapper {
	h2 {
		text-align: left;
		font: normal normal bold 22px/35px Inter;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
}
.button-yes {
	text-align: center;
	font: normal normal bold 14px/21px Inter;
	letter-spacing: 0px;
	color: $color_5;
	background-color: $background-color_2;
	text-transform: uppercase;
	box-shadow: 0px 3px 6px #00000029;
	border: 2px solid #5ab56b;
	border-radius: 7px;
	opacity: 1;
	margin-right: 1rem;
}
.button-no {
	text-align: center;
	font: normal normal bold 14px/21px Inter;
	letter-spacing: 0px;
	color: $color_6;
	text-transform: uppercase;
	box-shadow: 0px 3px 6px #00000029;
	border: 2px solid #5ab56b;
	border-radius: 7px;
	opacity: 1;
}
.line {
	box-shadow: 0px 3px 16px #00000029;
	border-radius: 25px;
	opacity: 1;
	border: 1px solid #59b56b;
}
.linegray {
	box-shadow: 0px 3px 16px #00000029;
	border-radius: 25px;
	opacity: 1;
	border: 2px solid #d4d4d4;
	width: 90%;
	display: flex;
	margin: 3rem auto 0px;
}
.single-blog-section {
	h3 {
		width: 53rem;
		text-align: left;
		font: normal normal 800 35px/50px Inter;
		letter-spacing: -1.14px;
		color: $color_7;
		opacity: 1;
		padding-top: 30px;
		text-transform: capitalize;
	}
}
.our-blog {
	.single-blog-path {
		position: absolute;
		width: 14%;
		margin-top: 16px;
		margin-left: -58px;
		position: absolute;
		width: 14%;
		margin-top: 5rem;
		margin-left: 0rem;
	}
	a {
		text-decoration: none;
	}
	.card-list {
		h4 {
			text-align: left;
			font: normal normal 600 18px/24px Inter;
			letter-spacing: 0px;
			color: $color_7;
			opacity: 1;
			padding-right: 0rem;
		}
		img {
			border-radius: 10px;
			min-height: 108px;
			max-height: 130px;
			width: 100%;
			object-fit: cover;
			box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
			background: #5cb46a;
		}
	}
}
.see-all-blog {
	background: #f7d64a 0% 0% no-repeat padding-box !important;
	border-radius: 10px;
	text-align: center;
	font: normal normal 600 16px/18px Inter;
	color: $color_8;
	opacity: 1;
	padding: 20px;
	margin: 0 1rem 0 0;
	transition: .3s all ease-in-out;

}
.see-all-blog:hover{
	background: #324b9c 0% 0% no-repeat padding-box !important;
}
.progress-bar {
	position: fixed;
	top: 55px;
	left: 0;
	height: 5px;
	width: 0%;
	background-color: $background-color_2;
	z-index: 9999;
	transition: width 0.2s ease-out;
}
.img-responsive-card {
	max-height: 226px;
}
.post-thumbnail {
	position: relative;
}
.author-image {
	position: absolute;
	color: $color_9;
	margin-top: -49px;
	margin-left: 27px;
}
.post-date {
	position: absolute;
	color: $color_9;
	margin-top: -44px;
	margin-left: 27px;
	right: 21px;
}
.fa-calendar-alt {
	&:before {
		content: '\f073';
		color: $color_3;
		padding: 11px;
		font-size: 22px;
	}
}
.fa-calendar-days {
	&:before {
		content: '\f073';
		color: $color_3;
		padding: 11px;
		font-size: 22px;
	}
}
.avatar {
	border-radius: 25px;
}
.bg-success {
	height: 3px;
	margin-bottom: 1em;
}
.view-all-btn {
	text-decoration: none;
	color: $color_10;
	font-weight: 600;
	font-size: 18px;
}
.single_top_wrapper {
	padding-top: 0px;
	overflow: hidden;
	.row {
		align-items: center;
	}
}
.single_top_content {
	padding: 0 10% 0 15%;
	max-width: 810px;
	.big_catg {
		font-size: 24px;
		color: $color_5;
		font-weight: 700;
		display: block;
		margin-bottom: 8px;
	}
	h1 {
		color: $color_5;
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 18px;
	}
}
.single_post_meta {
	color: $color_3;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		a {
			text-decoration: none;
			color: $color_3;
			pointer-events: none;
		}
	}
}
.single_top_image {
	text-align: right;
	img {
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.banner_wrapper-blog {
		.banner-content {
			padding-right: 4%;
		}
	}
	.single_top_content {
		h1 {
			font-size: 32px;
		}
	}
	.our-blog {
		.card-list {
			h4 {
				padding-right: 0;
				font: normal normal 600 17px/21px Inter;
				font-weight: 700;
			}
		}
	}
}
@media (max-width: 991px) {
	.banner_wrapper-blog {
		.banner-content {
			padding-right: 4%;
			h1 {
				font: normal normal 900 30px/32px Inter;
			}
		}
	}
	.single_top_content {
		h1 {
			font-size: 26px;
			margin-top: 55px;
		}
	}
}
@media only screen and (max-width: 767px) {
	.our-blog {
		.card-list {
			h4 {
				text-align: left;
				font: normal normal 600 16px/24px Inter;
				letter-spacing: 0px;
				color: $color_7;
				opacity: 1;
				padding-right: 1rem;
			}
		}
	}
	.single_post_meta {
		font-size: 16px;
	}
	.content-for-blog {
		padding: 7% 4%;
		p {
			font-size: 15px;
			line-height: 1.8;
		}
		ul {
			li {
				font-size: 15px;
				line-height: 1.8;
			}
		}
		ol {
			li {
				font-size: 15px;
				line-height: 1.8;
			}
		}
	}
	.share-post-wrapper {
		h2 {
			text-align: center;
		}
	}
}
@media screen and (max-width: 600px) {
	.news__form {
		input[type='email'] {
			width: 100%;
			display: flex;
		}
		.news__btn {
			width: 100%;
			display: flex;
			margin: 10px auto;
			text-align: center;
		}
	}
	.banner_wrapper-blog {
		.banner-content {
			.btn-get-started {
				width: 200px;
			}
			h1 {
				text-align: center;
				font: normal normal 900 28px/32px Inter;
				margin-bottom: 0px;
			}
			p {
				text-align: center;
				font: normal normal normal 16px/31px Inter;
				letter-spacing: 0px;
				color: $color_2;
				opacity: 1;
				margin-top: 2rem;
			}
			padding-right: 0;
		}
		.banner-padding {
			padding: 10px;
		}
		padding-bottom: 0rem;
	}
	.author-image {
		position: absolute;
		color: $color_9;
		margin-top: -49px;
		margin-left: 27px;
		font-size: 10px;
	}
	.post-date {
		position: absolute;
		color: $color_9;
		margin-top: -44px;
		margin-left: 27px;
		right: 21px;
		font-size: 10px;
	}
	.single-blog-section {
		h1 {
			text-align: center;
			font: normal normal bold 34px/38px Inter;
			letter-spacing: 0px;
			color: $color_3;
			opacity: 1;
			width: 100%;
		}
		h3 {
			width: 100%;
		}
	}
	.content-for-blog {
		background: #f9fbf9 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 16px #00000029;
		opacity: 1;
		padding: 1rem;
		margin-right: 0;
		border-bottom-right-radius: 25px;
		margin-left: 0;
		border-bottom-left-radius: 25px;
	}
	.our-blog {
		.card-list {
			img {
				border-radius: 10px;
				max-height: 100%;
				width: 100%;
				object-fit: cover;
				box-shadow: 0px 2px 21px #b6b6b654;
				background: #5cb46a;
			}
		}
		h1 {
			font: normal normal 800 24px/30px Inter;
		}
	}
	.single_top_content {
		padding: 0 5% 0 5%;
	}
}
@media (max-width: 400px) {
	.news__form {
		gap: 5px;
	}
	.banner_wrapper-blog {
		.banner-content {
			.btn-get-started {
				font-size: 15px;
				padding: 5px 5px;
				width: 150px;
			}
		}
	}
}
